/*.................................
 Top Banner style .................... */
.container {
  background-color: rgb(40, 7, 189);
  height: 700px;
}

nav {
  display: flex;
  justify-content: space-between;
}
span a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  padding: 32px;
}
button {
  width: 150px;
  color: #ffffff;
  background-color: #e02c6d;
  margin-right: 40px;
  margin-top: 40px;
  padding: 10px 10px 15px 10px;
}
.fa-sign-in-alt {
  color: #ffffff;
  padding-right: 20px;
}
.watch-live {
  border: 2px solid violet;
  border-radius: 10px;
}
.fa-arrow-right {
  color: #ffffff;
  padding-left: 10px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 700px;
  width: 50%;
  color: #ffffff;
}
.half-width img {
  width: 556px;
  height: 438px;
}
.flexible-container {
  display: flex;
  margin: 50px;
  padding: 50px;
  justify-content: space-evenly;
}
